<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <button (click)="loginWithFacebook()" class="btn btn-lg btn-primary btn-block">
    Login
  </button>


  <button (click)="loginWithOptions()" class="btn btn-lg btn-primary btn-block">
    Login with scopes
  </button>

  
  <button (click)="getLoginStatus()" class="btn btn-lg btn-primary btn-block">
    Check login status
  </button>

  

  <button (click)="getProfile()" class="btn btn-lg btn-primary btn-block">
    Get User Profile
  </button>


  <button (click)="getFriends()" class="btn btn-lg btn-primary btn-block">
    Get User Friends
  </button>
  

</div>